#container{
    background-color: lightcoral;
}

#displayDiv{
    height: 50px;
    width: 200px;
    background-color: aquamarine;
    color: black;
}

.finalResultDiv{
    background-color: yellow;
}

.button{
    border-radius: 10px;
}

