*{
    background-color: lightgoldenrodyellow;
}

#container{
    margin: auto;

    height: 500px;
    width: 500px;

    border: 2px solid black;
}

#displayDiv{
    background-color: white;
    color: black;

    display: flex;  
    justify-content: space-between;

    margin-bottom: 100px;
}

.viewDivs{
    width: 140px;
    height: 300px;
    margin: 0;
    background-color: lightgoldenrodyellow;    
}

#playerResultDiv{
    background-color: palegreen;
}

#winnerDisplay{
    background-color: palevioletred;
}

#computerResultDiv{
    background-color: paleturquoise;
}

#buttonContainer{
    margin: 0;

    display: flex;
    justify-content: space-between;

    border: 2px solid darkslategray;
}

.buttons{
    border-radius: 10px;

    font-size: large;
}

